<div>
  <h1>Productos MongoDb</h1>
  <ul>
    {{#each products}}
      <li>
        <h3>{{title}}</h3>
        <p>Descripción: {{description}}</p>
        <p>Precio: {{price}}</p>
      </li>
    {{/each}}
  </ul>
</div>