<div>
    <h1>Productos</h1>
    <ul id="products_list">
        {{#each products}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../public/js/main.js"></script>